.header {
	display: grid;
    grid-template-rows: 1/-1;
	grid-template-columns: 1fr 1fr;
	padding-top: 8px;
	padding-left: 7px;
}

links a:link {
	text-decoration: none;
	color: #000;
}

links a:hover {
	text-decoration: underline;
	opacity: 0.75;
}

.links {
	text-decoration: none;
	color: #000;
}

.links {
	font-size: 13px;
	font-family: arial,sans-serif;
	padding: 10px;
	display: inline-block;
}

.topRight {
	display: flex;
	justify-self: end;
}

.topLeft {
	display: flex;
	justify-self: left;
}


.middle {
	display: grid;
	padding-top: 145px;
	justify-content: center;
	align-content: center;
	padding-bottom: 500px;
}

.middle .buttons input {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1/-1;
	border-radius: 2px;
	width: 140px;
	height: 40px;
	background-color: #f3f3f3;
	color: #686363;
	position: relative;
	font-size: .80em;
	font-family: Arial;
	text-align: center;
	font-weight: 600;
	margin: 0px 5px 5px 5px;
	border: 0px solid white;
}
d

.search-bar input{
	text-align: center;
	height: auto;
	width: 100%;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
}

.footer {
	display: grid;
	grid-template-rows: 1/-1;
	grid-template-columns: 1fr 1fr;
	background-color: #f2f2f2;
}

.bottomLeft {
	grid-column: 1;
	justify-self: left;
}

.bottomRight {
	grid-column: 2;
	justify-self: end;
}

