
.action {
    transition: all .3s ease;
}


.course:hover {
    background-color: white;    
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.21);
    transition: all .4s ease;
    .action {
        opacity: 1;
    }
}

.course__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.course__arrow {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #487BCE;
    transition: all .3s ease;
}

.course__arrow-close {
    transform: rotate(180deg);
}

.course__title-container {
    width: 85%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.course__selected {
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.21);
}

.course {
    min-height: 60px;
    transition: all .4s ease;
}

.course__check-mark {
    &:after {
        content: '';
        display: block;

        width: 10px;
        height: 20px;

        margin-left: 18px;
        transform: rotate(45deg);

        border: solid #487bce;
        border-width: 0 2.5px 2.5px 0;
    }
}

.show-content-fade {
    transition: all .2s ease;
}

.hide-content-fade {
    opacity: 0;
    transform: scale(0.8) translateX(-10px);
    transition: all .2s ease;
}

//

@mixin position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin add-button {
    background-color: black;
    font-size: 16px;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    position: relative;

    &:after,
    &:before {
        content: '';
        display: block;
        background-color: white;
        @include position-center;
        transition: all .3s ease;
    }

    &:before {
        height: 1em;
        width: 0.2em;
    }

    &:after {
        height: 0.2em;
        width: 1em;
    }
}

.course__add {
    @include add-button;
}

.course__remove {
    @include add-button;
    // transform: rotate(45deg);
    &:before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
        transform: translate(-50%, -50%) rotate(-135deg);
    }
}

.slot__remove {
    @include add-button;
    transform: translateY(-50%) rotate(45deg);
    display: inline-block;
    position: absolute;
    right: 13px;
    top: 50%;
}